<h1>Buscar Filmes</h1>
<form [formGroup]="formBusca">
    <label for="titulo" class="form-label">Título</label>
    <input type="text" class="form-control" id="titulo" formControlName="titulo">
    <input type="button" value="Enviar" class="btn btn-primary" value="Buscar" [disabled]="formBusca.invalid" (click)="buscar()">
</form>
<div *ngIf="filme != undefined" class="card" style="width: 10rem;">
    <img [src]="filme.Poster" class="card-img-top" alt="Poster">
    <div class="card-body">
        <h5 class="card-title">{{filme?.Title}}</h5>
        <ul class="card-text">
            <li>Director: {{filme.Director}}</li>
            <li>Ano: {{filme.Year}}</li>
            <li>Gênero: {{filme.Director}}</li>
        </ul>
    </div>
</div>